
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #6b6b6b;
    color: #222;
    line-height: 1.6;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

}

header {
    background-color: #585858; 
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 30px;
}

header h1, header p {
    color: #fff; 
}


.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
}


.plan-intro {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.plan-intro img {
    max-width: 300px;
    width: 100%;
}

.plan-intro h2 {
    margin-bottom: 15px;
}


section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 15px;
    font-size: 26px;
}


ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

ul li::before {
    content: "✔";
    color: #2ecc71;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.benefits li {
    margin-bottom: 20px;
}

.benefits strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.benefits p {
    font-size: 15px;
    color: #444;
    margin-left: 25px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #f5f5f5;
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: #eee;
    font-size: 14px;
}


@media (max-width: 768px) {
    .plan-intro {
        flex-direction: column;
        text-align: center;
    }
}
