*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#zegarek
{
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 200px;
    color: #333;
}

#data
{
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 70px;
    color: #333;
}


input
{
    padding: 20px 80px ;
    background-color: #333;
    color: #e0e0e0;
    border: none;
}

form
{
    display: flex;
    justify-content: center;
    gap: 10px;
}